@font-face{
    font-family: "Sailec";
    font-weight: 700;
    src:url("../Fonts/Sailec-Bold.woff");
    font-style: normal;



}
@font-face{font-family:"Titillium";
font-weight: 400;
    src:url("../Fonts/TitilliumWeb-Regular.woff");
font-style: normal;}
