@import url(Fonts.css)

/* ОБНУЛЕНИЕ*/
* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: 400;
}

/*-------------------------------------------------------------------------------------------*/
.container {
    max-width: 1024px;
    margin: 0 auto;
    padding: 0 15px;

}

.flex {
    display: flex;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    min-height: 75px;
    align-items: center;
    margin: 0 auto;

}

.header__menu {
    display: flex;
    list-style: none;
}



.header__navigation {
    padding-right: 30px;
    display: block;

}

@media screen and (max-width:1100px) {
    .header__navigation {
        padding-right: 0;
    }
}


a {
    color: rgba(102, 102, 102, 0.85);
}

.button {
    text-decoration: none;
    font-family: "Sailec";
    font-size: 16px;
    letter-spacing: 0.25px;
    margin: 0 10px;

    ;
}

section {
    margin-top: 30px
}

.section__cont {
    max-width: 1024px;

    display: flex;


}

.u {
    display: none;
}

.logo__page1 {
    margin-right: ;
    width: 100%;

    background-repeat: no-repeat;
    background-image: url(../Images/1page.svg);
    background-position: left;
    background-size: 100% auto;
    padding-top: 56.25%;
}

.section__text {
    display: block;
    min-width: 400px;
    width: 80%;
    padding-top: 90px;
    margin-right: 18px;
}

.section__title {
    font-family: "Sailec";
    font-weight: 400;
    font-size: 48px;
    line-height: 58px;
    margin-bottom: 18px;

    letter-spacing: 0.25px;
    color: #4A4A4A;
}

.section__subtitle {
    font-family: "Titillium";
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;

    color: #434A54;
}

.logo__page2 {
    margin-right: ;
    width: 100%;

    background-repeat: no-repeat;
    background-image: url(../Images/2page.svg);
    background-position: left;
    background-size: 100% auto;
    padding-top: 56.25%;
    margin-left: -100px;
    ;
}

@media screen and (max-width:1190px) {
    .logo__page2 {
        margin-left: 0;
    }

}

.section__text2 {
    margin-left: 25px;
    min-width: 400px;
    width: 80%;

}

@media screen and (max-width:1190px) {
    .section__text2 {
        margin-left: 0;
    }

}

.section__title2 {
    font-family: "Sailec";
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 44px;

    letter-spacing: 0.25px;

    color: #4A4A4A;
}

.section__subtitle2 {
    font-family: "Titillium";
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 25px;

    color: #434A54;
}

.link2 {
    font-style: normal;
    font-weight: normal;
    font-family: "Titillium";
    font-size: 16px;
    line-height: 26px;

    text-align: center;
    letter-spacing: 0.25px;

    color: #1D6FF3;
}

.logo__page3 {
    width: 100%;

    background-repeat: no-repeat;
    background-image: url(../Images/3page.svg);
    background-position: left;
    background-size: 100% auto;
    padding-top: 56.25%;
}

.section__text3 {
    min-width: 500px;
    width: 80%;
    padding-top: 90px;
    margin-right: 0px;
}

.section__title3 {
    font-family: "Sailec";
    font-weight: 400;
    font-size: 36px;
    line-height: 58px;
    margin-bottom: 18px;

    letter-spacing: 0.25px;
    color: #4A4A4A;
}

.section__subtitle3 {
    font-family: "Titillium";
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;

    color: #434A54;
    margin-bottom: 36px;
}

@media screen and (max-width:700px) {
    .logo__page1 {
        display: none;
    }

    .section__text {
        margin: 0 auto;
    }

    .logo__page2 {
        display: none;
    }

    .section__text2 {
        margin: 0 auto;
    }

    .logo__page3 {
        display: none;
    }

    .section__text3 {
        margin: 0 auto;
    }

    .header__inner {
        min-width: 400px;
        width: 80%;
    }
}


}

.menu_h {
    color: #fff;
    padding: 10px 15px;
    cursor: pointer;
    display: none;
}



.
.menu-burger__header {
    display: none;
}

@media only screen and(max-width: 700px) {
    .menu-burger__header {
        position: relative;

        width: 40px;
        /* определяем размеры блока */
        height: 35px;
        display: block;
        margin-left: 10px;

    }

    .header__inner {

        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;}




    .menu-burger__header span, .menu-burger__header:after, .menu-burger__header:before{
    height: 3px;
    width: 100%;
    position: absolute;
    background: #515758;
    margin: 0 auto;
}
.menu-burger__header span{
    top: 15px;
}
.menu-burger__header:after, .menu-burger__header:before{
    content: '';
}
.menu-burger__header:after{
    bottom: 5px;
}
.menu-burger__header:before{
    top: 5px;
}
    .logo{padding-right: 50px;}

    .header__navigation {
        display: block;
        position: absolute;
        top: 75px;
        right: 30px;
        background: rgb(245, 246, 246);
        box-shadow: #ccc;
        width: 50%;
        height: 20%;
        box-shadow: 0 4px 2px -2px rgba(36, 36, 36, 0.17);
        right: -100%;
        transition: all 0.4s ease;
    }

    .header__menu {
        display: block;
    }
    .button{margin-bottom: 10px;}

    .header__navigation.open-menu {
        right: 0;
    }
}

.menu-burger__header.open-menu span {
    opacity: 0;
    transition: 0.5s;
}

.menu-burger__header.open-menu:before {
    transform: rotate(38deg);
    top: 16px;
    transition: 0.4s;
}

.menu-burger__header.open-menu:after {
    transform: rotate(-38deg);
    bottom: 16px;
    transition: 0.4s;
}
